 html, body {
	 font-family: "Times New Roman", sans-serif;
	 height: 100%;
	 margin: 0;
	 padding: 0;
 }
 
 h1 {
	color: green;
	text-align: center;
	font-size: 30px;
}

#map {
	height: 500px;
	width: 100%;
	background-color: grey;
	border: 1px solid black;
}

.input {
	 font-size: 12px;
 }


.options-box {
	background: #grey;
	border: 1px solid #999;
	border-radius: 3px;
	height: 100%;
	line-height: 35px;
	padding: 10px 10px 10px 10px;
	text-align: left;
	width: 100%;
 }